@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <div ng-controller="Demo">
        <form class="form-group">
            <label for="firstName">First Name</label>
            <input id="firstName" class="form-control" type="text" ng-model="firstName" />
            <input class="btn btn-primary" type="submit" />
        </form>
        <div>
            You writed: {{firstName}}
            Result is: {{DoSomething()}}
        </div>
    </div>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>